&#cases {
  background-image: url("./../img/people-tablet-coffee-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;

  h1 {
    color: #FFF;
    text-shadow: 0 0 3px #000, 0 0 16px #000;
  }

  .cards-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

    .scene {
      @include transition((box-shadow 200ms, margin-top 200ms));
      @include will-change((box-shadow, margin-top));
      width: 24vw;
      height: 26vh;
      perspective: 600px;
      display: flex;
      margin: 15px;
      border-radius: 5px;
      flex-flow: column;
      align-self: center;
      color: rgba(255, 255, 255, 0.7);
      font-family: 'Roboto Bold', sans-serif;

      &:hover {
        .card {
          box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.7);
        }

        cursor: pointer;
        margin-top: 13px;
      }
    }

    .card {
      @include transition((box-shadow 200ms, margin-top 200ms));
      @include will-change((box-shadow, margin-top));
      box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 5px;
      transition: transform 1s;
      transform-style: preserve-3d;

      .card-face {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        backface-visibility: hidden;
      }

      .front-face {
        &#cases {
          &--1 {
            background-image: url("./../img/keyboard-black-blue.jpg");
          }

          &--2 {
            background-image: url("./../img/notebook-coffee-wood.jpg");
          }

          &--3 {
            background-image: url("./../img/watch-notebook-light.jpg");
          }
        }
        background-size: cover;
        background-repeat: no-repeat;
        padding: 21px;

        h3, p {
          text-shadow: 0 0 4px #000, 0 0 10px #000;
        }
      }

      .back-face {
        padding: 15px;
        background: rgba(255, 255, 255, 0.6);
        transform: rotateY(180deg);
        color: #000;

        a {
          color: rgb(5, 98, 165);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &.is-flipped {
        transform: rotateY(180deg);
      }
    }
  }
}
