&#comments {
  background-image: url("./../img/notebook-people-typing-white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  .text-block {
    height: auto;
    margin: auto;
  }

  h2 {
    text-align: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 10px rgba(0,0,0, 0.8);
  }

  article {
    display: none;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    padding: 34px 21px;
    max-width: 50vw;
    margin: auto;

    q {
      text-shadow: 0 0 10px #FFF;
      line-height: 2;
      font-size: 16px;
      font-family: 'Roboto Slab', serif;
    }

    cite {
      display: block;
      text-align: right;
      padding-top: 20px;
    }

    &.shown {
      display: block;
      animation: 400ms ease-out 0s 1 onLoadTextBlock;
    }

    &.exit-shown {
      display: block;
      animation: 400ms ease-out 0s 1 onUnloadTextBlock;
    }
  }
}
