&#contact {
  background-image: url("./../img/notebook-coffee-wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-size: 40px;
    color: #FFF;
    text-shadow: 0 0 3px #000, 0 0 16px #000;
    text-align: center;
  }

  .form-contact {
    width: 60vw;
    margin: 10px auto;

    .form-control {
      margin-bottom: 15px;

      input,
      textarea {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding: 10px 15px;
        color: #FFF;
        text-shadow: 0 0 5px #000;
        background: rgba(0, 0, 0, 0.65);
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.9);

        @include placeholder {
          color: rgba(255, 255, 255, 0.6);
          text-shadow: 0 0 10px #000;
        }
      }

      label {
        font-size: 20px;
        font-family: 'Roboto Bold', sans-serif;
        display: block;
        margin-bottom: 5px;
        color: #FFF;
        text-shadow: 0 0 5px #000;
      }

      input {
        display: block;
        width: 100%;
        border-radius: 4px;
        border: none;
      }

      textarea {
        width: 100%;
        border-radius: 4px;
        border: none;
        resize: vertical;
        height: 15vh;
        min-height: 10vh;
        max-height: 30vh;
      }

      button {
        @include transition((box-shadow 200ms, text-shadow 200ms));
        @include will-change((box-shadow, text-shadow));
        font-family: 'Roboto Bold', sans-serif;
        color: #FFF;
        text-shadow: 0 0 5px #000, 2px 2px 10px #000;
        padding: 15px 40px;
        font-size: 18px;
        border-radius: 4px;
        border: none;
        background-color: rgb(10, 200, 90);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
        cursor: pointer;
        float: right;

        &:hover {
          text-shadow: 0 0 5px #000, 1px 1px 6px #000;
          box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.6);
        }

        &:active {
          text-shadow: 0 0 5px #000, 2px 2px 10px #000;
          box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.8);
          outline: none;
        }
      }
    }
  }
}
