&#whoarewe {
  background-image: url("./../img/people-tablet-coffee-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;

  & > h2,
  & > p {
    color: #FFF;
    text-shadow: 0 0 8px #000, 0 0 50px rgba(0,0,0,0.5), 0 0 80px rgba(0,0,0,0.8);
    text-align: center;
    margin: 10px 15px;
  }

  > h2 {
    font-size: 25px;
  }

  > p {
    margin-top: 30px;
    font-size: 20px;
  }

  .lists {
    display: flex;
    justify-content: space-between;

    .text-block {
      padding: 30px 20px;
      animation: 400ms ease-out 0s 1 onLoadTextBlock;
      max-width: 40vw;
      background: rgba(50, 50, 50, 0.7);
      color: #FFF;
      text-shadow: 0 2px 5px #000;
      display: flex;
      flex-flow: column;
      align-self: center;

      h2,
      li,
      ul {
        animation: 400ms ease-out 0s 1 onLoadTextBlockText;
      }

      h2 {
        margin: 0 0 10px;
      }
    }
  }
}
